<div class="ui middle aligned center aligned grid">
  <div class="column">

    <h2 class="ui teal image header">
      <img src="{{pathToAssetsFolder + '/images/cryptoinvoice.png'}}" class="image">
    </h2>
    <div class="ui attached message text-left" *ngIf="infoMessage"
         [ngClass]="{'orange': !isOperationSuccess,'olive': isOperationSuccess}">
      <div class="header" [innerHTML] = "infoMessage"></div>
    </div>
    <div class="content">
      <div class="ui attached message text-left">
        <div class="header">
          Delegator:
        </div>
        <p>{{sender}}</p>
        <div class="header">
          Delegate to:
        </div>
        <p>{{sendTo}}</p>
        <div class="header">
          Golos Power:
        </div>
        <p>{{amount}}</p>
        <div class="header">
          Challenger Amount:
        </div>
        <p>{{challengerAmount}}</p>
      </div>

      <form class="ui large form" [formGroup]="paymentForm">
        <div class="ui stacked segment">
          <div class="field" [class.error]="(accountNameInvalid | async) === true">
            <div class="ui left icon input">
              <i class="user icon"></i>
              <input type="text" name="account" formControlName="account" placeholder="Account">
            </div>
            <div class="error" *ngIf="(accountNameInvalid | async) === true">
              This username is not registered
            </div>
          </div>
          <div class="field" [class.error]="(privateKeyInvalid | async) === true">
            <div class="ui left icon input">
              <i class="lock icon"></i>
              <input type="password" name="password" formControlName="password" placeholder="Password or Active key">
            </div>
            <div class="error" *ngIf="(privateKeyInvalid | async) === true">
              Incorrect Password
            </div>
          </div>
          <div class="ui large inverted purple button" [class.disabled]="paymentForm.invalid"
               (click)="sentPayment()">Pay</div>
        </div>
      </form>

    </div>
    <div class="ui message">
      <p class="text-left">Your keys are safely encrypted. They are never sent anywhere, all operations happen locally. Only the resulting signed messages are broadcasted to the network.</p>
      <a class="dark" href="/">About Cryptoinvoice</a>
    </div>
  </div>
</div>
