.menu {
  background: none;
  border: none;
  box-shadow: none;
  margin-bottom: 14em;
  .item {
    border: none!important;
    &:before {
      display: none;
    }
  }
  .logo {
    width: 13em;
  }
}

.segment {
  height: 100%;
  background: url("/../../../assets/images/bg-09.png") no-repeat !important;
  background-size: cover!important;

  .button {
    margin-top: 2em;
  }
}
