<div class="ui vertical center aligned segment">

  <div class="ui top menu massive transition visible">
    <div class="ui container">
      <div class="header item">
        <img class="logo ui" src="../../../assets/images/cryptoinvoice.png">
      </div>
    </div>
  </div>

  <div class="ui text container">
    <h1 class="ui header">
      Secure access to the Golos ecosystem
    </h1>
    <p>Securely manage your wallet, check your activity, and connect to services without giving up your password.</p>
  </div>

</div>
